<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>

<body>
  <form method="POST" action="/story/contribution">
    <input type="text" name="title"></input>
    <input type="text" name="text"></input>
    <button type=“ADD” class=“btn btn-primary”>Add to story!</button>
  </form>
  <h2>
  </h2>

</body>

</html>
