<!DOCTYPE html>
<html lang="en">
​

<head>
  <!-- Meta Information -->
  <title>My Story Book! - Home Page</title>
  ​
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!-- External CSS -->
  ​
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  ​
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
  ​
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400i,700&display=swap" rel="stylesheet" />
  ​
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  ​
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  ​
  <!-- Header CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
  ​
  ​
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>
  ​
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/jquery-app.js"></script>
  ​
</head>
​

<body>
  <!-- Top nav bar (fixed) -->
  <nav class="navbar" id="logo">
    <!-- <h1> My Story Book </h1> -->
    ​
    <span id="compose">My Story Book <i class="far fa-laugh bounce"></i></span>
    <h1>Read a Story!</h1>
  </nav>
  <header id="header">
  </header>
  ​
  ​
  <div class="mystories">
    <p class="story-here"> START YOUR STORY HERE !</p>
    <form action="/story" method="POST" class="story-title">
      <label>Title: </label>
      <input type="text" name="title" />
      <label>Start your start:</label>
      <input type="text" name="paragraph" />
      <button type="ADD" class="btn btn-primary">ADD YOUR STORY </button>
      <button type="submit" action="/story/completed" method="POST">COMPLETE</button>

  </div>
  </form>
  ​
  </div>
  <div class="friendsstory">
    <div class="story-header">
      <% if (contribution){%>
      <h1>Title</h1>
      <p><%=contribution[0].titles%></p>
      <h1>Story</h1>
      <p><%=contribution[0].storytext%></p>
      <%}%>
    </div>
      <table class="table">
        <thead>
          <tr>

            <th scope="col">contributions</th>

          </tr>
        </thead>
        <tbody>
          <% for(let key of contribution) {%>
      <tr>
        <td><%= key.contributiontext%></td>

      </tr>
      <%}%>
      </tbody>
    </table> ​
  </div>
  <form action="/story/contribution" method="POST">
  <input type="hidden" name="id" value=<%=contribution[0].id%>></input>
      <input name="text" type="text"></input>
      </form> ​
</body>
​

</html>
