<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!-- External CSS -->
  ​
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  ​
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
  ​
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400i,700&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

  ​
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  ​
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  ​
  <!-- Header CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
  ​
  ​
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>
  ​
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/jquery-app.js"></script>

<body>
  <nav class="navbar" id="logo">
    <!-- <h1> My Story Book </h1> -->
    ​<span class="avatar-container"> <img class="avatar" src="https://puu.sh/FjZ8h/9018270184.png">User: Jimmy Newtron
    </span>
    <span id="compose">My Story Book <i class="far fa-laugh bounce"></i></span>
    <a class="redirect">
      <h1 class="home">Reading is Fun!</h1>
    </a>
  </nav>
  <header id="header">
  </header>

  <div class="mystories">
    <p class="story-here"> START YOUR STORY HERE !</p>
    <form action="/story" method="POST" class="story-title">
      <label>Title: </label>
      <input class="textbox" type="text" name="title" />
      <label>Start your story:</label>
      <input class="textbox" type="text" name="paragraph" />
      <button type="ADD" class="btn btn-primary"><strong>ADD YOUR STORY</strong>
      </button>

  </div>
  </form>


  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <h1 id="Pick">Pick a story!</h1>

        <table class="table">
          <thead>
            <th scope="col">TITLE</th>
            <th scope="col">THE STORY BEGINS...</th>
            <th schope='col'>STATUS</th>
            <% for(let [key, value] of Object.entries(stories)){ %>
            <tr>

              <td><%= value.title %> </td>
              <td> <%= value.text %></td>
              <td><%= helper.truecheck(value.is_completed)%></td>
              <td>
                <form method="GET" action="/story/<%= value.id%>">
                  <button type="ADD" class="btn btn-primary"> VIEW</button>
                </form>
              </td>
            </tr>
            <% } %>
      </div>


      </table>






      <div class="friendsstory">





        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/freelancer.min.js"></script>

</body>

</html>
