#header {
  height: 43vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQZWAaG0lRgLDKBgefc4GDjYnBMK_fyF8a1Y1aAhMFbAFGXn0L');
}

/* @media only screen and (min-width: 1024px) {
  #header {
    width: 33.3%;
    float: left;
    margin-top: 0;
    margin-left: 2em;
  }
} */
