// See: https://sass-lang.com/

body {
  background-color: dodgerblue;
  background-image: url(https://www.transparenttextures.com/patterns/arches.png);
  font-family: 'Sniglet', cursive;
  color: whitesmoke;
  font-size: x-large;

  h1 {
    color: #eee;
  }

  .bg-secondary {
    background-color: #ffcc00 !important;
  }

  .bg-primary {
    background-image: url(‘https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQZWAaG0lRgLDKBgefc4GDjYnBMK_fyF8a1Y1aAhMFbAFGXn0L’) !important;
  }
}

.mystories {
  display: flex;
  flex-direction: column;
  height: 41vh;
  background-color: dodgerblue;
  background-image: url(https://www.transparenttextures.com/patterns/arches.png);
}



.friendsstories {
  display: flex;
  background-color: #2d82c1;
  height: 26vh;
  justify-content: center;
  background-image: url(https://www.transparenttextures.com/patterns/arches.png);

  p {
    align-items: center;
    display: flex;
    margin: 0 auto;
  }
}

footer {
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  position: static;
  height: 600px;
}

#pick {
  font-size: xx-large;
  color: whitesmoke;
}

.story-title {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.story-here {
  color: white;
  font-family: bungee;
  display: flex;
  align-self: center;
  padding-top: 8vh;
  font-size: xx-large;
}

button {
  border-radius: 23px;
  color: navy;
  background-color: lightsteelblue;
  font-family: bungee;
}

.story-header {
  text-align: center;
  font-family: fantasy;



}
