.navbar {
  background-color: #ffcc00;
  background-image: url(https://www.transparenttextures.com/patterns/arches.png);
  height: 15vh;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
}

#pick {
  margin: 0;
}

#logo {
  color: #ffffff;
}

#compose {
  font-family: 'Sniglet', cursive;
  font-size: xxx-large;
  padding-top: 4px;
}

@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  animation-delay: 1s;
  animation-duration: 1.2s;
  transform-origin: center bottom;
  transform: translate(0);
  animation-iteration-count: infinite;
}

.home:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.home {
  text-decoration: none !important;

}
